@{
    ViewData["Title"] = "Home";
}

<div class="home-index-container">
    <h1>Welcome to the ToDo Application</h1>
    <p>Manage your tasks efficiently and stay organized with our easy-to-use app.</p>
    <a id="login" asp-controller="Home" asp-action="Login" class="btn btn-primary btn-lg mx-2">Login</a>
    <a id="register" asp-controller="Home" asp-action="Register" class="btn btn-secondary btn-lg mx-2">Register</a>
</div>
