/* Blue and White Theme Styles */

body {
    background-color: white;
    color: #333;
    margin-bottom: 20px;
}

.login-form, .register-form , .login-form{
    max-width: 400px;
    
    padding: 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.form-control {
    border: 1px solid #007bff;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}
#login{
    margin-top: 10px;
}
#register{
    margin-top: 10px;
}

/* Light Theme */
body.light-theme {
    background-color: white;
    color: #333;
}

a.light-theme {
    color: #007bff;
}

/* Dark Theme */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

a.dark-theme {
    color: #bb86fc;
}
